{% extends 'base.html.twig' %}

{% block title %} Ajouter une Formation {% endblock %}

{% block body %}
    
    
        {% if confition %}  
            <h1> Editter une Formation </h1>


        {% else %}  
            <h1> Ajouter une Formation </h1>

        {% endif %}
 
 
        {% for formation in formations %}

               <a href="{{ path( 'show_formation', {'id': formation.id}) }}" >{{ formation }}</a><br>

        {% endfor %}

        {{ form(formAddFormation) }}

        {% endblock %}
